#intro {
  text-align: center;
  padding: 1%;
}

.home-img {
  display: none;
}

.footer-heading h3 {
  font-weight: 100;
  color: #fff;
  padding: 1% 0;
}

#intro h3 {
  padding: 1% 18%;
}

#intro h5 {
  display: none;
}

.logo-intro p {
  font-size: 16px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.03em;
  text-align: center;
}

#intro p {
  background-color: #fff;
  text-align: center;
  padding: 2% 5%;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: -0.06em;
  margin-left: 10%;
  margin-right: 10%;
}

#intro h6 {
  padding: 1% 5%;
  font-weight: 700;
  font-size: 12px;
  color: #7a7a7a;
  line-height: 25px;
  letter-spacing: 0;
  text-align: center;
  margin-top: 5%;
}

#intro a {
  padding: 0;
  background-color: transparent;
  align-self: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #5f5f5f;
  margin-bottom: 33%;
}

.logo-wrapper,
.img-wrapper {
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f7f7;
  margin: 10%;
  overflow: hidden;
}

.logo-wrapper img,
.img-wrapper img {
  width: 100%;
}

#previous-work-wrapper {
  border: 1px solid #f7f7f7;
  padding-bottom: 5%;
}

#logo-intro,
#previous-work {
  flex-basis: 50%;
}

#logo-intro h3,
#previous-work h3 {
  font-size: 20px;
  padding: 3% 7%;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #2c2c2c;
}

#logo-intro p,
#previous-work p {
  font-size: 16px;
  padding: 7% 7%;
}

.logo-intro {
  padding: 1% 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 15%;
}

.previous-work {
  padding: 1% 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 5%;
}

.fa-horizontal-rule {
  display: flex;
}

#footer-top {
  background-color: #414246;
  padding: 5% 0;
}

.footer-heading {
  justify-content: center;
  align-items: center;
  padding: 1% 0;
}

.footer-img {
  justify-content: space-around;
  padding: 2% 0;
}

#footer-bottom {
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
}

#footer-bottom img {
  flex-basis: 50%;
  padding: 5.5%;
}

#footer-bottom p {
  flex-basis: 50%;
  padding: 5.5%;
  font-size: 10px;
  font-weight: 700;
  line-height: 13px;
  letter-spacing: -0.01em;
  text-align: left;
  color: #3b3e45;
}

.fa-dash {
  color: #f7f7f7;
}

@media only screen and (min-width: 768px) {
  #intro {
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
    padding-top: 3%;
  }

  #intro h5 {
    display: flex;
    justify-content: center;
  }

  #intro h3 {
    display: none;
  }

  .home-img {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 7%;
    margin-right: 2.5%;
  }

  .home-img img {
    width: 12px;
    padding-right: 1%;
  }

  #footer-bottom p {
    color: #fff;
  }

  #intro .home-img p {
    font-size: 8px;
    padding-right: 1%;
    background-color: transparent;
    margin-top: 0;
    margin-left: -46px;
    margin-right: 0;
    border: transparent;
    color: #000;
  }

  #intro .home-img .right-arrow {
    width: 9px;
  }

  .previous-program {
    width: 430px;
    height: 236px;
  }

  .previous-work-img {
    flex-direction: row;
    justify-content: space-evenly;
  }

  #footer-top {
    background-color: #414246;
    display: none;
  }

  #footer-bottom {
    background-color: #414246;
  }

  #footer-bottom img {
    flex-basis: 50%;
    padding: 5.5%;
    width: 325px;
    height: 61px;
  }

  .previous-work {
    margin: 2%;
  }

  #footer-bottom #footer-bottom-sub h6 {
    color: #fff;
  }

  #logo a {
    text-decoration: none;
    cursor: pointer;
  }
}
