#intro {
  background-color: #fff;
  text-align: center;
  padding: 5%;
}

#intro h3 {
  position: absolute;
  top: 11%;
  padding: 1% 18%;
}

#intro p {
  background-color: #fff;
  text-align: center;
  padding: 5%;
}

#intro h6 {
  position: absolute;
  top: 55%;
  padding: 1% 5%;
  font-weight: 700;
  font-size: 12px;
  color: #7a7a7a;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#intro a {
  padding: 5%;
  position: absolute;
  top: 59%;
  background-color: transparent;
  align-self: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #5f5f5f;
}

.logo-wrapper {
  justify-content: center;
  align-items: center;
  border: 15px solid #fff;
  position: relative;
  flex-basis: 50%;
}

#logo-intro {
  flex-basis: 50%;
}

.logo-intro {
  padding: 10% 15%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.logo-wrapper img {
  flex-basis: 100%;
}

.fa-horizontal-rule {
  display: flex;
}
