#intro {
  background-color: #fff;
  text-align: center;
  padding: 5%;
}

#intro h3 {
  position: absolute;
  top: 11%;
  padding: 1% 18%;
}

#intro p {
  background-color: #fff;
  text-align: center;
  padding: 5%;
}

#intro h6 {
  position: absolute;
  top: 55%;
  padding: 1% 5%;
  font-weight: 700;
  font-size: 12px;
  color: #7a7a7a;
  line-height: 22px;
  letter-spacing: 0.02em;
}

#intro a {
  padding: 5%;
  position: absolute;
  top: 59%;
  background-color: transparent;
  align-self: center;
  font-size: 12px;
  font-weight: 800;
  line-height: 25px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #5f5f5f;
}

.logo-wrapper,
.img-wrapper {
  justify-content: center;
  align-items: center;
  border: 1px solid #f7f7f7;
  position: relative;
  margin: 10%;
  overflow: hidden;
}

.logo-wrapper img,
.img-wrapper img {
  width: 100%;
}

#previous-work-wrapper {
  border: 1px solid #f7f7f7;
}

#logo-intro,
#previous-work {
  flex-basis: 50%;
}

#logo-intro h3,
#previous-work h3 {
  font-size: 20px;
  padding: 7% 7%;
}

#logo-intro p,
#previous-work p {
  font-size: 16px;
  padding: 7% 7%;
}

.logo-intro,
.previous-work {
  padding: 1% 1%;
  justify-content: center;
  align-items: center;
  text-align: center;
  
}

.fa-horizontal-rule {
  display: flex;
}
