* {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
  color: blue;
}

body {
  display: grid;
  place-items: center;
}

header {
  display: grid;
  grid-template-columns: 1fr;
  place-items: center;
}

.logo {
  width: 100px;
  height: 100px;
  background: url("img/logo.jpg") no-repeat;
  background-size: cover;
}
