* {
  margin: 0;
  padding: 0;
  font-family: 'lato', sans-serif;
}

/* body {
  display: grid;
  grid grid-template-columns: 1fr 1fr 1fr;
} */

.flex-row {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

/* header {
} */
#header-top {
  display: none;
}

.fa-bars {
  display: flex;
  padding-left: 1rem;
  padding-top: 0.8rem;
}

.fa-xmark {
  display: none;
  position: absolute;
  left: 5%;
  top: 3%;
  z-index: 9999;
}

nav {
  display: none;
}

#logo {
  display: none;
}

#menu {
  display: none;
  list-style-type: none;
  padding: 13% 8%;
  background-color: #fff;
  z-index: 111;
  color: #8a8a8a;
  opacity: 0.9;
  width: 100%;
}

#menu li {
  margin-bottom: 8%;
  width: 52%;
  font-size: 24px;
}

#menu li a {
  text-decoration: none;
  color: #868686;
}

nav button {
  margin-bottom: 100rem;
  width: 33%;
  height: 2rem;
  background-color: #fff;
  border: 5px solid #ec4327;
  border-radius: 5%;
  padding: 1%;
  font-size: 12px;
}

.background {
  background-image: url("img/header_back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left 0 top 0;
  min-height: 25rem;
  opacity: 0.1;
  position: relative;
}

#intro {
  padding-top: 20%;
  padding-left: 3%;
}

#intro h3 {
  color: #f4653a;
  position: absolute;
  top: 12%;
  left: 7%;
}

#intro h1 {
  color: #fb1401;
  font-weight: 900;
  position: absolute;
  top: 15%;
  left: 9%;
  background: transparent;
}

.speakers-detail p {
  font-size: 9px;
  font-weight: 700;
  line-height: 14px;
  letter-spacing: -0.06em;
  text-align: left;
  color: #000;
}

#intro p {
  position: absolute;
  top: 31%;
  left: 9%;
  border: 4px solid #fff;
  line-height: 152%;
  padding-right: 1%;
  margin-right: 2.5%;
  font-size: 14px;
  color: #000;
}

#intro h2 {
  color: #515151;
  font-weight: 790;
  position: absolute;
  top: 50%;
  left: 9%;
  font-family: "Gothic A1", sans-serif;
  font-size: 20px;
  letter-spacing: -0.08em;
  text-align: left;
}

#intro h5 {
  font-weight: bolder;
  position: absolute;
  top: 55%;
  left: 9%;
  color: #868686;
  font-size: 13px;
}

#main-program {
  background-image: url('img/main-mobile.png');
  background-position: left 0 top 0;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 5%;
  margin-bottom: 5%;
}

#main-program .program {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  margin: 1.5% 2%;
  padding: 3%;
  background-color: #3d4047;
  filter: opacity(0.7);
  min-height: 4rem;
}

#main-program .program-headline {
  background-color: transparent;
}

#featured-heading h2 {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: -0.05em;
  text-align: left;
  color: #000;
}

#main-program .program h2 {
  color: #fff;
}

.fa-horizontal-rule {
  color: #963c36;
}

.speakers-photo img {
  width: 5rem;
  height: 4rem;
  border: 2px solid #1a1313;
}

#main-program .program img {
  flex-basis: 10%;
  width: 3rem;
}

#main-program .program h3 {
  flex-basis: 20%;
  padding-right: 3%;
  color: #ff5438;
}

#btn-more p {
  padding-right: 2%;
}

#main-program .program p {
  flex-basis: 50%;
  color: #fff;
}

.btn-join {
  justify-content: center;
  align-items: center;
}

#join {
  width: 75%;
  height: 5rem;
  padding: 2%;
  background-color: #ff4f38;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
}

#featured-heading {
  justify-content: center;
  align-items: center;
  padding-bottom: 25%;
}

#featured-speakers {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
}

.speakers {
  display: flex;
  margin-bottom: 5%;
}

.speakers-photo {
  flex-basis: 27%;
  padding: 3% 0%;
  padding-left: 5%;
}

.speakers-detail {
  flex-basis: 57%;
}

.speakers-detail h4 {
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #000;
}

.speakers-detail h6 {
  font-size: 10px;
  font-weight: 700;
  line-height: 15px;
  letter-spacing: -0.02em;
  text-align: left;
  color: #f78c89;
  margin-top: 1%;
  margin-bottom: 2%;
}

#btn-more {
  width: 356px;
  height: 38px;
  padding: 12px 0 13px 0;
  border-radius: 4px;
  border: 1px solid #d8d8d8;
  background-color: #fff;
  justify-content: center;
  align-items: center;
}

@media only screen and (min-width: 768px) {
  #header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #3e3e3e;
    padding-right: 6.15%;
    padding-top: 0.75%;
    padding-bottom: 0.75%;
    gap: 20px;
  }

  #header-top a {
    padding-right: 1.5%;
  }

  #header-top a i {
    display: flex;
    justify-content: flex-end;
    padding-right: 1.5%;
    color: #fff;
  }

  #header-top p {
    color: #fff;
    font-size: 0.6rem;
    padding-right: 1.5%;
  }

  nav {
    display: flex;
    padding-left: 5%;
    padding-top: 1%;
    max-height: 2rem;
  }

  #logo {
    display: flex;
    height: 2rem;
    flex-basis: 20%;
    padding-left: 9%;
  }

  .fa-bars {
    display: none;
  }

  #menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-basis: 66%;
    margin: 0;
    padding: 0.8%;
    background-color: #fff;
    opacity: 1;
    color: #8a8a8a;
    z-index: 0;
  }

  #menu li {
    margin-bottom: 0.1%;
  }

  nav button {
    width: 50%;
    margin-bottom: 0.01rem;
    border: 5px solid #ec4327;
    color: #ec4327;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #intro h3 {
    top: 20%;
    left: 12%;
  }

  #intro h1 {
    top: 24%;
    left: 13%;
    background: transparent;
    font-size: 2.5rem;
  }

  #intro p {
    top: 40%;
    left: 12.5%;
  }

  #intro h2 {
    top: 56%;
    left: 12.5%;
    font-family: "Gothic A1", sans-serif;
    font-size: 42px;
    font-weight: 900;
    letter-spacing: -0.08em;
    text-align: left;
  }

  #intro h5 {
    top: 65%;
    left: 12.5%;
    font-size: 16px;
  }
}
